@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
:root{
    --cor-one: rgb(230, 225, 235);
    --cor-two: rgb(71, 149, 212);
}
*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin:0;
    padding:0;
    background-color:var(--cor-one);
    font-family: 'Playfair Display', 'Merriweather';
    color: rgb(230, 225, 235);
}
.Container{
    
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-two);
    margin: 50px auto;
    padding: 50px;
}
form label,form input{
    display: block;
    width: 100%;
    border: none;
    font-size: large;
}
form input:focus{
    outline: 2px solid rgb(230, 225, 235);
}
form input:hover{
    outline: 2px solid rgb(100, 40, 160);
}
form button{
    margin: 30px auto;
    padding: 10px;
    background-color: rgb(250, 215, 238);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
form button:hover{
    outline: 2px solid rgb(100, 40, 160);
}